<div class="container">
  <h1>Chat++</h1>
  <form>
      <input type="text" placeholder="Felhasználónév" required>
      <input type="password" placeholder="Jelszó" required>
      <button type="submit">Bejelentkezés</button>
  </form>
  <footer>
      <p>© 2024 Chat++</p>
  </footer>
</div>
<div class="container" id="second" >
  <img src="images/Sign up-bro.png" alt="asd">
  <p>Még nincs fiókja? Csatlakozzon hozzánk!</p>
  <button type="submit" id="reg" (click)="navigateToSignup()">Regisztráció</button>
</div>