<div class="container">
  <h1>Chat++</h1>
  <form>
      <input type="email" placeholder="E-mail" required>
      <input type="text" placeholder="Felhasználónév" required>
      <input type="password" placeholder="Jelszó" required>
      <button type="submit">Regisztráció</button>
  </form>
  <footer>
      <p>© 2024 Chat++</p>
  </footer>
</div>
<div class="container" id="second" >
  <img src="images/Typing-rafiki.png" alt="asd">

  <p>Már van fiókja? Jelentkezzen be!</p>
  <button type="submit" id="reg" (click)="navigateToMain()">Bejelentkezés</button>
</div>